---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import FeaturedContractor from '../components/FeaturedContractor.astro';
import LocationCards from '../components/LocationCards.astro';
import FAQAccordion from '../components/FAQAccordion.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<FeaturedContractor />
		<LocationCards />
		<FAQAccordion />
	</main>
	<Footer />
</Layout>
